<p id="notice"><%= notice %></p>

<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Movie: <%= @movie.title %></li>
    <li class="list-group-item">description: <%= @movie.description %></li>
    <li class="list-group-item">Genre: <%= @movie.genre %></li>
    <li class="list-group-item">Rating: <%= @movie.rating %></li>
    <li class="list-group-item"><%= link_to 'Edit', edit_movie_path(@movie) %></li>
    <li class="list-group-item"><%= link_to 'Back', movies_path %></li>
  </ul>
</div>